<!DOCTYPE html>
<html>
    <head>
        <title>{{username}}</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    </head>
    <body>
        <h1 style="display:inline;" class='text username centered'>{{username}}</h1>
        <form style="display:inline;" method="post" action="">
            <input type="text" name="search_input"><input type="submit" name="search" value="search">
            <input type="submit" name="signout" value="sign out">
        </form>

        <form method="post" action="">
            <input type="text" name="content"><input type="submit" name="post" value="post">
        </form>
        <hr>
        <h3 class='text centered'>posts</h3>
        <hr>
        <div class='post_container'>
        {% for post in posts %}
            <div class= 'post'>
                <div>
                    <h4 style="display:inline;" class='text post_element'>{{post.author}} -</h4>
                    <h5 style="display:inline;" class='text post_element'>{{post.timestamp}}</h5>
                </div>
                <h3 class='text post_element'>{{post.content}}</h3>
            </div>
            <hr>
        {% endfor %}
        </div>
    </body>
</html>