<!DOCTYPE html>
<html>
    <head>
        <title>sign up</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    </head>
    <body>
        <h3 class='error'>{{message}}</h3>
        <form method="post" action="/signup">
            <h3 class='text'>username : <input type="text" name = 'username'></h3>
            <h3 class='text'>first name : <input type="text" name = 'first_name'></h3>
            <h3 class='text'>last name : <input type="text" name = 'last_name'></h3>
            <h3 class='text'>email : <input type="text" name = 'email'></h3>
            <h3 class='text'>password : <input type="password" name = 'password'></h3>
            <input type="submit" value="sign up">
        </form>
    </body>
</html>